@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 120 100% 98%;
    --secondary-foreground: 120 100% 98%;
    --popover-foreground: 120 100% 97%;
    --primary-foreground: 120 100% 98%;
    --accent-foreground: 120 100% 98%;
    --muted-foreground: 120 100% 90%;
    --card-foreground: 120 100% 97%;
    --destructive: 0 80% 50%;
    --background: 260 30% 10%;
    --foreground: 120 100% 98%;
    --secondary: 120 50% 37%;
    --popover: 260 30% 13%;
    --primary: 280 60% 50%;
    --accent: 290 70% 58%;
    --border: 260 20% 53%;
    --muted: 260 20% 20%;
    --input: 260 20% 42%;
    --card: 260 30% 15%;
    --ring: 120 100% 75%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-body text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
